body {
  margin: 0;
  overflow: auto;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar { 
  display: none;
}

/** Hero Section on top **/

.hero-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  width: 90%;
  height: 100vh;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hero-content {
  background-color: transparent;
  width: 35%;
  height: 50%;
}
.hero-title {
  font-family: 'Lemon', serif;
  font-size: 28px;
  font-weight: bolder;
  color: red;
}
.hero-subtitle {
  font-family: 'Lemon', serif;
  font-size: 42px;
  font-weight: bolder;
}
.hero-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.hero-explore {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: x-large;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(255, 0, 204, 0.37);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 26px;
  border: 2px solid rgba(0, 0, 0, 0.18);
  transition: all ease-in-out;
}
.hero-explore:hover { 
  box-shadow: 0 6px 28px 0 rgba(255, 0, 204, 0.67 );
  border: 2px solid rgba(0, 0, 0, 0.38);
  transform: scale(1.05);
}

.hero-image {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 65%;
  height: auto;
}
.hero-image img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 16px;
  filter: drop-shadow(2px 2px 5px rgba(230, 0, 255, 0.7));
}
.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.heartbeat {
	-webkit-animation: heartbeat 10s ease-in-out infinite both;
	        animation: heartbeat 10s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.hero-image video {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 16px;
}

.gradio-container {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.svelte-1kyws56 {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hero-references {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: auto;
}

.hero-references img {
  transition: all ease-in-out 0.7s;
}
.hero-references img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 32px 0 rgba(255, 0, 242, 0.37);
}

.internal-references,
.external-references {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.internal-references img,
.external-references img{
  object-fit: cover;
  width: 425px;
  border-radius: 20px;
}

.ref-subtitle {
  font-family: 'Lemon', serif;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
}

.ref-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 900px){
  .hero-main {
    width: 100dvw;
    height: 100dvh;
  }
  
  .hero-container {
    flex-direction: column-reverse;
    width: 100%;
    height: 100vh;
    padding: 10px;
    margin-top: 200px;
  }
  
  .hero-content {
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
  }
  .hero-title {
    font-size: 20px;
  }
  .hero-subtitle {
    font-size: 32px;
  }
  .hero-explore {
    font-weight: bold;
    font-size: large;
    border-radius: 22px;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }

  .hero-references img:hover {
    transform: scale(1.01);
  }
  
  .internal-references,
  .external-references {
    width: 95%;
    margin: auto;
  }
  
  .internal-references,
  .external-references {
    gap: 10px;
  }
  
  .internal-references img,
  .external-references img{
    width: 100%;
    border-radius: 16px;
  }
  
  .ref-subtitle {
    font-size: 28px;
    font-weight: bold;
  }
}

.end-intro {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95vw;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px); 
  box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.2);
}

.end-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
  width: 40%;
  height: 50vh;
}

.left-header {
  font-size: x-large;
  font-weight: bolder;
}

.left-content {
  text-align: justify;
  word-spacing: 5px;
}

.end-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
  width: 50%;
  height: 50vh;
}

.right-header {
  font-size: x-large;
  font-weight: bolder;
}

.right-content {
  text-align: justify;
  word-spacing: 5px;
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-spacer {
  height: 10vh;
}

@media screen and (max-width: 900px) {
  .end-spacer {
    height: 10vh;
  }

  .end-intro {
    flex-direction: column;
    width: 95vw;
    margin: 10px auto;
  }
  
  .end-left {
    width: 95%;
    height: 60vh;
  }
  
  .end-right {
    width: 95%;
    height: 60vh;
  }
}